@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
}
